body{
  background-color: #24243c;
  color: white;
  min-height: 100vh;
}

.App {
  text-align: center;
  margin-top: 3%;
}

ul {
  padding: 0%;
}

label {
  font-size: 30px;
}

#label_sort {
  font-size: 16px;
}

#sort_field {
  float: left;
  margin-left: 1%;
}

#search_field {
  float: right;
  margin-right: 1%;
}

input {
  border-radius: 8px;
}

button {
  border-radius: 5px;
}

#label_series {
  padding-left: 1%;
}

.all_objects {
  margin-top: 3%;
}

.object_container {
  padding:5%;
  border:solid;
  border-radius: 21px;
  border-color: #363755;
}

.flex-container {
  display: flex;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-child {
  flex: 1;
  padding:2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  

#second_child{
  margin-right: 20px;
  text-align: center;
} 

.links {
  color:white;
  font-size: 30px;
}

#title_text {
  
  text-align: center;
  font-size: 30px;
}

span {
  font-weight: bolder;
  color:blanchedalmond;
}